h1 {
  padding: 10px 0;
  font-size: 60px;
}
.detailed-temperature {
  font-size: 20px;
  margin-bottom: 0px;
}
#icon {
  position: relative;
  left: 160%;
}

.active {
  color: black;
  text-decoration: none;
}
.secondary {
  text-decoration: none;
}
.search-form {
  display: block;
  margin: 0 auto;
  width: 400px;
  margin-top: 0px;
}
div.container {
  background-image: url(img/sky.jpg);
  opacity: 0.9;
  max-width: 40%;
  height: auto;
  min-height: 600px;
  min-width: 400px;
  background-size: cover;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
li {
  list-style: none;
  margin-top: 0px;
}
li:first-letter {
  text-transform: capitalize;
}
.weather-forecast {
  margin-top: 40px;
  margin-left: 60px;

  text-align: center;
}
footer {
  text-align: center;
}
